@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("assets/Lato-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("assets/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("assets/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("assets/Lato-Black.ttf") format("truetype");
}
* {
    font-family: "Lato";
    margin: 0 auto;
    padding: 0;
    max-width: 1020px
}
.get_quote {
    background-color: #f06c64;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}
.get_quote h2 {
    font-size: 30px;
    color: #f0d8d9;
    font-weight: 900;
    padding-top: 60px;
    padding-bottom: 18px;
}
.get_quote p {
    font-size: 18px;
    color: #f0d8d9;
    font-weight: 300;
    padding-bottom: 42px;
    line-height: 30px;
}
.quote {
    display: grid;
    grid-template-columns: 620px 300px;
    grid-column-gap: 20px;
}
form textarea {
    border-radius: 5px;
    background-color: #d6564f;
    width: 605px;
    height: 38px;
    border: none;
    margin-bottom: 14px;
    color: #f48c8f;
    line-height: 35px;
    padding-left: 15px;
    resize: none;
}
.describe_detail {
    height: 200px; 
}
::placeholder {
    color: #f48c8f;
    font-size: 12px;
}
.contact_information h3{
    color:#f0d8d9;
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 8px;
}
.contact_information p {
    color:#f0d8d9;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 22px;
}
.info {
    display: grid;
    grid-template-columns: 20px 5fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.info img {
    margin: 0; 
    padding-top: 5px;
}
.info p {
    margin: 0; 
    padding-bottom: 3px;
}
.separator6 {
    height: 6px;
    background-color: #ea676b;
}
.footer {
    background-color: #2d303a;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer p {
    text-align: left;
    margin: 0;
    color: #646b87;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
}
.social{
    margin: 0;
    text-align: right;
}
.social img {
    padding-left: 6px;
    margin: 0;
}