@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/Lato-Black.ttf") format("truetype");
}
* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Lato', sans-serif;
	max-width: 1020px
}





.header {
	height: 90px;
	background-color: #2d303a;
	display: flex;
}
h1 {
	margin: 26px 0 0 40px;
}
.menu {
	margin-right: 40px;
}
.menu li {
	display: inline-block;
	text-align: left;
	position: relative;
	padding-left: 24px;
	padding-top: 40px;
}
 .menu li + li:before {
	position: absolute;
	bottom: 0px;
	left: 7px;
	content: ".";
	font-size: 24px;
	color: #494e62;
}
.menu li button {
	font-size: 12px;
	line-height: 6px;
	color: #ffffff;
	font-family: "Lato", "Helvetica", sans-serif;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
}
.menu li button:hover {
	color:#f06c64;
}
button {
	cursor: pointer;
	border: medium none;
	background-image: none; 
	background: transparent;
	background-color: transparent;
}
.slider {
	height: 484px;
	background-color: #f06c64;
	display: flex;
	align-items: center;  
	padding: 53px 0px 58px 0px; 
}
.our_services {
	color: #666d89;
	height: 495px;
	background-color:#f2f2f2;
}
.article {
	margin: 0px 42px;
	padding-top: 60px;
}
.article h2 {
	font-size: 30px;
	color: #666d89;
	text-align: left;
	letter-spacing: -0.003em;
	padding-bottom: 15px;  
}
.article p {
	padding-top: 4px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 100;
	word-spacing: -0.05em;
	padding-bottom: 47px; 
}
.services {
	color: #666d89;
	text-align: left;
	font-size: 10px;
	margin: 0px 40px;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 30px;
}
.services h3 {
	padding-left: 18px;
	font-size: 18px;
	padding-bottom: 10px;
}
.services p {
	margin-left: 18px;
	font-size: 12px;
	line-height: 20px;
	color: #767e9e;
}
.services li {
	margin:0;
}
.separator1 {
	height: 5px;
	background-color: #323746;  
}
.separator2 {
	height: 5px;
	background-color: #ea676b;  
}
.separator3 {
	height: 5px;
	background-color: #ffffff;  
}